<!-- Validation failure messages -->
<% if @brand.errors.any? %>
  <% @brand.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Give your rating to <%= @brand.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_brand/<%= @brand.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="sr-only">
          Name
        </label>

        <input type="hidden" id="name" name="name" placeholder="Name" class="form-control" value="<%= @brand.name %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="sr-only">
          Image url
        </label>

        <img src="<%= @brand.image_url %>" width="250">

        <input type="hidden" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @brand.image_url %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="sr-only">
          User
        </label>

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @brand.user_id %>">
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          1 point? 2? 5?
        </label>

        <input type="text" id="review_id" name="review_id" placeholder="Review" class="form-control" value="<%= @brand.review_id %>">
      </div>

      <button class="btn btn-warning">
        Rate Brand
      </button>
      or
      <a href="/brands/<%= @brand.id %>">Cancel</a>
    </form>
  </div>
</div>
