

<% if !user_signed_in? %>
  .<div class="jumbotron">
    <h1>"Heart" your favorite brands!</h1>
    <p>At Heart-a-Brand every one can add their favorite brand and rate it. Each month we will publish three brands with the highest ratings! Sign up today and see how YOUR favorite brand is ranking today</p>
  </div>
<% end %>


<div class="page-header">

    <a href="/brands/new" class="btn btn-md btn-success">Add a Brand</a>

</div>

<div class="row">
  <% @brands.each do |brand| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= brand.name %></h3>
        </div>


        <div class="panel-body">
          <a href="/brands/<%= brand.id %>"></a>
          <img src="<%= brand.image_url %>" class="img-responsive">
        </div>


        <p>
                          <% rating = Rating.find_by(:brand_id => brand.id, :user_id => current_user.id) %>
                          <% if rating.present? %>
                            <a href="/delete_rating/<%= rating.id %>" class="btn btn-link">
                              <i class="fa fa-heart"></i>
                            </a>
                            <% if brand.raters.any? %>
                            <%= brand.raters.pluck(:username).to_sentence %>
                            <%= brand.raters.many? ? "rating" : "ratings" %>
                            this
                            <% end %>
                          <% else %>
                            <form action="/create_rating" method="post">
                              <!-- Hidden input for authenticity token to protect from forgery -->
                              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                              <input type="hidden" name="brand_id" value="<%= brand.id %>">

                              <input type="hidden" name="user_id" value="<%= current_user.id %>">

                              <button class="btn btn-link">
                                <i class="fa fa-heart-o"></i>
                              </button>

                              <% if brand.raters.any? %>
                              <%= brand.raters.pluck(:username).to_sentence %>
                              <%= brand.raters.many? ? "rating" : "ratings" %>
                              this
                              <% else %>
                              <small class="text-muted">be the first to rate this</small>
                              <% end %>
                            </form>
                          <% end %>
                        </p>





                        <ul class="media-list">

                          <% if brand.name.present? %>
                                    <li class="media">
                                      <div class="media-body">
                                        <h6 class="media-heading">
                                          <%= link_to brand.user.username, "/users/#{brand.user.id}" %>
                                          <small>
                                            <%= time_ago_in_words(brand.created_at) %> ago
                                          </small>
                                        </h6>
                                        <%= brand.name %>
                                      </div>
                                    </li>
                                    <% end %>

                                  <% brand.comments.each do |comment| %>
                                  <li class="media">
                                    <div class="media-body">
                                      <h6 class="media-heading">
                                        <%= link_to comment.user.username, "/users/#{comment.user.id}" %>
                                        <small>
                                          <%= time_ago_in_words(comment.created_at) %> ago
                                          <% if comment.user == current_user %>
                                            <a href="/delete_comment/<%= comment.id %>">
                                              <i class="fa fa-trash"></i>
                                            </a>
                                          <% end %>
                                        </small>
                                      </h6>
                                      <%= comment.body %>
                                    </div>
                                  </li>
                                  <% end %>

                                  <li class="media">
                                    <div class="media-body">
                                      <form action="/create_comment" method="post">
                                        <!-- Hidden input for authenticity token to protect from forgery -->
                                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                                        <input type="hidden" name="brand_id" value="<%= brand.id %>">

                                        <input type="hidden" name="user_id" value="<%= current_user.id %>">

                                        <!-- Label and input for body -->
                                        <div class="form-group">
                                          <label for="body" class="sr-only">
                                            Body
                                          </label>

                                          <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                                        </div>
                                      </form>
                                    </div>
                                  </li>
                                </ul>






        <div class="panel-footer">
          <div class="row">
            <a href="/brands/<%= brand.id %>" class="btn btn-primary"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
            <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>

        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
