<div class="page-header">
  <h1>
    Brands
    <a href="/brands/new" class="btn btn-md btn-success">Add a Brand</a>
  </h1>
</div>

<div class="row">
  <% @brands.each do |brand| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= brand.name %></h3>
        </div>
        <div class="panel-body">
          <img src="<%= brand.image_url %>" width="150">
        </div>
        <div class="panel-footer">
          <a href="/brands/<%= brand.id %>" class="btn btn-primary">Show</a>
          <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_brand/<%= brand.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
