<div class="page-header">
  <h3><%= @brand.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @brand.name %></dd>

      <dt>Image url</dt>
      <dd>
        <img src="<%= @brand.image_url %>" class="img-responsive">
      </dd>

      <dt>User</dt>
      <dd><%= @brand.user_id %></dd>

      <dt>Review</dt>
      <dd><%= @brand.review_id %></dd>

      <dt>Rated by</dt>
      <dd>
        <%= @brand.raters.pluck(:username).to_sentence %>

        <% if @brand.raters.count == 0 %>
        be the first to like
        <% elsif @brand.raters.count > 1  %>
        rated
        <% else %>
        rated
        <% end %>
        this brand
      </dd>

      <dt>What people say</dt>
      <ul>
        <% @brand.comments.each do |comment| %>
        <li>
          <h6> <%= comment.user.username %> </h6>
          <small>
            <%= time_ago_in_words(comment.created_at) %> ago
          </small>
          <h7> <%= comment.body %>  </h7>
        </li>
        <% end %>
      </ul>

        <form action="/create_comment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for brand_id -->
          <div class="form-group">
            <label for="brand_id" class="control-label">
              Brand
            </label>

            <input type="hidden" id="brand_id" name="brand_id" placeholder="Brand" class="form-control" value="<%= @brand.id %>">
          </div>

          <!-- Label and input for body -->
          <div class="form-group">
            <label for="body" class="sr-only">
              Body
            </label>

            <input type="text" id="body" name="body" placeholder="Add a comment" class="form-control">
           </div>

          </div>

          <!-- Label and input for user_id -->

            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

          <button class="btn btn-success">
            Create Comment
          </button>
          or
          <a href="/comments">Cancel</a>
        </form>


      </dl>

      <div class="btn-group btn-group-justified">
        <a href="/brands" class="btn btn-primary">
          Back
        </a>


        <a href="/brands/<%= @brand.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_brand/<%= @brand.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>







      </div>
    </div>
  </div>
